<h1>About</h1>
<h2>Manuel Puentes Espinoza</h2>
<div class="row">
  <div class="col-md-3">
    <h3>Contact me</h3>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-3">
        <h4>Github</h4>
        <div class="media-link">
          <a href="http://github.com/Ma4nNi">Ma4nNi</a>
        </div>
      </div>
      <div class="col-md-3">
        <h4>Facebook</h4>
        <div class="media-link">
          <a href="http://facebook.com/nnyymm.ol">Ma4nNi</a>
        </div>
      </div>
      <div class="col-md-3">
        <h4>Email</h4>
        <div class="media-link">
          <a href="mailto:manuelpe.icc@gmail.com?Subject=Hello">manuelpe.icc@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</div>

