<div class="jumbotron">
  <h1>Assignments</h1>
  <p class="lead">
    Always a pleasure <s>scaffolding</s> doing your <s>apps</s> homeworks.
  </p>
</div>


<div class="row marketing">
  <div class="col-md-6 assignment-wrapper">
    <h3>
      Assignment 1
    </h3>
    <div class="preview">
      <p>
        1.-Read the following <a href="http://martinfowler.com/articles/microservices.html">article</a>
        and explain what "Microservices Architecture" means.<br>
        2.-Create a bash file to setup a complete environment for this class.<br>
        3.-Create a grunt task to deploy your website to your own bucket in S3.<br>
        4.-Explain how routes work in angular and a code example.<br>
        5.-Explain how you can have more than one access key in your computer and how to use each one.
        Provide code or configuration examples.<br>
        6.-Explain what you're gonna do different this semester based on last semester's experience.<br>
      </p>
    </div>
  </div>
  <div class="col-md-6 assignment-wrapper">
    <h3>Assignment 2</h3>
    <div class="preview">
      <p>Pending...</p>
    </div>
  </div>
</div>
