<p>Want to check my performance during this semester?</p>
<div class="ct-chart">

</div>


<script>
  new Chartist.Line('.ct-chart', {
    labels: ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10'],
    series: [
      [92, 98, 0, 0, 0,0,0,0,0,0,0],
      [65, 85, 80,93, 70,100,87,80,90]
    ]
  }, {
    fullWidth: true,
    chartPadding: {
      right: 40
    }
  });
</script>
<section id="auth-button"></section>
<section id="view-selector"></section>
<section id="timeline"></section>
<script>
  (function(w,d,s,g,js,fjs){
    g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
    js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
    js.src='https://apis.google.com/js/platform.js';
    fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
  }(window,document,'script'));
</script>
<script>

  gapi.analytics.ready(function() {

    // Step 3: Authorize the user.

    var CLIENT_ID = '532117085402-sv5r20mi50pnd841bnrvgnqnii6prmd6.apps.googleusercontent.com';

    gapi.analytics.auth.authorize({
      container: 'auth-button',
      clientid: CLIENT_ID,
    });

    // Step 4: Create the view selector.

    var viewSelector = new gapi.analytics.ViewSelector({
      container: 'view-selector'
    });

    // Step 5: Create the timeline chart.

    var timeline = new gapi.analytics.googleCharts.DataChart({
      reportType: 'ga',
      query: {
        'dimensions': 'ga:date',
        'metrics': 'ga:sessions',
        'start-date': '30daysAgo',
        'end-date': 'yesterday',
      },
      chart: {
        type: 'LINE',
        container: 'timeline'
      }
    });

    // Step 6: Hook up the components to work together.

    gapi.analytics.auth.on('success', function(response) {
      viewSelector.execute();
    });

    viewSelector.on('change', function(ids) {
      var newIds = {
        query: {
          ids: ids
        }
      }
      timeline.set(newIds).execute();
    });
  });
</script>
