<p>Tarea 4</p>
<div class="row">

</div>
<div class=" row">
  <div class="col-md-6">
    <h4>Superhero 1 results</h4>
    <select id="char1">

    </select>
     </div>

  <div class="col-md-6">
    <h4>SuperHero 2 results</h4>
    <select id="char2">

    </select>
    </div>
</div>
<div class="row">
  <button class="btn-default" onClick="Generate()">GENERATE</button>
</div>

<div class="row">
  <div class="col-md-6" id="enemiesRow">

  </div>
  <div class="col-md-6" id="volumesRow"></div>
</div>

<h4>A7 BUCKET LOCATION: <a href="https://s3.amazonaws.com/mannpe-comic-bucket/1009148_1010354.json"> mannpe-comic-bucket </a> </h4>
<h4>Code Location: <a href="https://github.com/Ma4nNi/cloud-computing-angular-website/tree/master/app/resources/scripts">Git</a></h4>


<script type="text/javascript">
  console.log("HELLO")
  var sampleUrl="https://cbc3rme0x9.execute-api.us-east-1.amazonaws.com/Development/characters";
  $.get(sampleUrl, function(data, status){
//    console.log("" + data);
    console.log("RESULTS 1")

    console.log("Finished p1");
    for(var i=0;i<data.length;i++){
      $("#char1").append("<option value='"+data[i].id+"'>"+data[i].text+"</option>");
      $("#char2").append("<option value='"+data[i].id+"'>"+data[i].text+"</option>");
    }


    $("#char1").select2();
    $("#char2").select2();
  });

  function Generate(){
    var nome = $("#char1").data('select2').$dropdown.find("input").val();
    console.log(nome)
    $("#volumesRow").empty();
    $("#enemiesRow").empty();
    var values = $("#char1").val();
    var value2 = $("#char2").val();
    $("#enemiesRow").append("<h4>Loading series...</h4>");
    $("#volumesRow").append("<h4>Loading comics...</h4>");

    //console.log(values, value2)
    //var values=1009148;//Debugging only
    //var value2=1010354; // test environment
    var compareUrl= "https://cbc3rme0x9.execute-api.us-east-1.amazonaws.com/Development/comics/compare?firstCharacterId="+values+"&secondCharacterId="+value2;
    var compareSeriesUrl = "https://cbc3rme0x9.execute-api.us-east-1.amazonaws.com/Development/series/compare?firstCharacterId="+values+"&secondCharacterId="+value2;
      $.get(compareUrl, function(data, status){
        console.log("trying with:",compareUrl);
        data = $.parseJSON(data["body"]);
        console.log(data.results);
        console.log(data.results.length);

        $("#volumesRow").empty();
        $("#volumesRow").append("<h2>Common Volumes</h2>");

        for(var i=0;i<data.results.length;i++){
          console.log(data.results[i]);
          $("#volumesRow").append("<h4>"+data.results[i]+"</h4>");
        }
        
      });

      $.get(compareSeriesUrl, function(data, status){
        console.log("trying series with:",compareUrl);
       
        console.log(data.results);
        console.log(data.results.length);

        $("#enemiesRow").empty();
        $("#enemiesRow").append("<h2>Common series</h2>");
        for(var i=0;i<data.results.length;i++){
          console.log(data.results[i]);
          $("#enemiesRow").append("<h4>"+data.results[i]+"</h4>");
        }
        
      });


  }
</script>

